<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Nannup.GrampsView" android:installLocation="preferExternal" android:versionCode="5" android:versionName="5.0">
	<uses-sdk android:minSdkVersion="27" android:targetSdkVersion="28" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<application android:label="GrampsView" android:icon="@mipmap/ic_launcher" android:allowBackup="false"></application>
</manifest>